:root{
    --main-color:var(--second-color);
    --second-color:#303030;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Oxygen',sans-serif;
    /* background-color: #26303A; */
    background-color: white;
    margin: 0;
    position: relative;
}
.back-color{
    position: absolute;
    z-index: -1;
    background-color: var(--second-color);
    width: 100%;
    height: 400px;
}
.header i{
    margin-right: 10px;
    color: var(--second-color);
}
.sec{
    margin: 50px 0px;
}
.sec_title{
    font-size: 33px;
    font-weight: 500;
    position: relative;
}
.line i{
    color: var(--second-color);
    margin-right:5px ;
}
.sec_title::after{
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: #eee;
    bottom: -4px;
    left: 0;

}
.conatiner{

    display: flex;
    flex-direction: row;
    /* color: white; */
    color: black;
    padding: 30px;

}
.left{
    flex: 1;
 padding-top: 60px;
}

.main div{
    background-color: var(--second-color);
    width: 350px;
    text-align: center;
    padding: 7px 0px;
}
.main div h1{
    margin-top: 0px;
}
.main img{
    width: 300px;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    padding-left: 20px;
}
.contact::after{
    content: " ";
    position: absolute;
    width: 10px;
    height: 100%;
    top:0px;
    left: 0px;
    background-color: var(--second-color);
}
.language .sec-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}
.inner h3{
    font-size: 22px;
    font-weight: 400;
}
.inner p{
    font-size: 14px;
    opacity: 0.7;
}
.sec-hobbis{
    display: grid;
    grid-template-columns:40% 40%;
    gap: 15px;
}
.hob{
    text-align: center;
}
.hob p{
    background-color: var(--second-color);
    text-align: center;
    font-size: 18px;
    padding: 4px 0px;
}
.hob img{
    width: 60px;
}
.project .sec-body{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.project .sec-body a,  a{
    text-decoration: none;
    color: #ff4343;
}
.right{
    padding-top: 70px;
    flex: 1;
}
.summary{
    line-height: 1.8;
    color: white;
}
span{
    color: var(--second-color);
}
.up{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dow progress{
    width: 100%;
    height: 15px;
    background:  var(--second-color);
       
}
progress::-moz-progress-bar { background: var(--second-color); }
progress::-webkit-progress-value { background: var(--second-color); }
progress { color: var(--second-color); }
.future{
    position: relative;
}
.cusers{
    position: absolute;
    position: absolute;
    top: 83px;
    right: -15px;
}
.cusers img{
    width: 350px;
}
.cusers img:hover ,.grad-img img:hover{
    transform: translate(-150px,-150px) scale(2,2);
    transition: 0.3s;
}
.grad-img img{
    width: 250px;
}
.img2{
    width: 200px!important;
    margin-left: 80px;
}
.experience{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.experience span{
    font-size: 25px;
    display: block;
    font-weight: bolder;
    color: black;
}